@media (max-width: 950px) {
  .nav-logo-img img {
    width: 100%;
    max-width: 250px !important;
  }
  .nav-link {
    font-size: 18px !important;
    font-weight: 400;
  }
  .nav-book-btn a {
    display: none !important;
  }
}
@media (max-width: 750px) {
  .nav-logo-img img {
    width: 100%;
    max-width: 200px !important;
  }
  .nav-link {
    font-size: 14px !important;
    font-weight: 400;
  }
  .nav-book-btn a {
    display: none !important;
  }
}
@media (max-width: 550px) {
  .nav-logo-img img {
    max-width: 150px !important;
  }
  .nav-link {
    font-size: 13px !important;
    font-weight: 500;
  }
  .nav-links ul {
    gap: 8px !important;
  }
  .nav-book-btn a {
    display: none !important;
  }
}
@media (max-width: 400px) {
  .navigation-container {
    justify-content: space-around !important;
  }
  .nav-logo-img img {
    width: 100%;
    max-width: 120px !important;
  }
  .nav-links ul {
    justify-content: center !important;
    gap: 10px !important;
    align-items: center !important;
  }
  .nav-link {
    font-size: 8px !important;
    font-weight: 500;
  }
  .nav-book-btn a {
    display: none !important;
  }
  .decs-content{
   margin-top: 30px !important;
  }

}
