@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.whatsapp-icon{
 position: fixed;
 z-index: 99999;
 right: 0;
 top: 88%;
}
.whatsapp-icon img{
  width: 100%;
  height: 100%;
  max-width: 65px;
  object-fit: contain;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes stretch {
  0% {
    transform: scale(.9);
    border-radius: 100%;
  }
  100% {
    transform: scale(1.1);
  }
}
p,a,h1,h2,h3,h4,h5,h6{
 font-family: Montserrat;
}
body{
  width: 100%;
}
button{
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--color-primary);
  color:#fff;
  border-radius: 10px;
}
.center-bg-bdr-line{
  border-bottom:2px solid var(--color-secondry) ;
}
:root{
    --color-primary:#E9716D;
    --color-secondry:#0C479C;
}
header{
  width: 100%;
  padding-bottom: 7px;
}
.m-width{
  width: 100%;
  max-width:1250px;
  margin: auto;
}
.navigation-container{
  width: 100%;  
}
.nav-logo-img img{
  width: 250px;
}
.nav-links ul{
 align-items:  center;
}
.nav-links{
  margin-top: 13px;
}
.nav-link{
  font-size: 23px;
  position: relative;
}
.nav-link::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 10px;
  background-color:#E9716D ;
  transition: 0.5s;
}
.nav-link:hover::after{
  width: 100%;
}
.nav-book-btn a{
  font-size: 18px;
  padding: 15px 12px;
  background-color:#E9716D;
  font-weight: 600;
  border: none;
}
.nav-book-btn a:hover{
  background-color:#ee8581;
}
.homeBanner-container{
  width: 100%;
  height: 100%;
  text-align: center;
}
.homeBanner-container img{
  width: 90%;
  height: 85%;
  object-fit: contain;
}
.decs-content{
  margin: 155px 0;
  display: flex;
  justify-content: center;
}
.decs-content p{
  width: 758px;
  padding: 0 16px;
  color: #d44a45;
  font-family: "Playwrite IN", serif;
  font-size: 22px;
  text-align: center;
}
.about-sec-img img{
  width: 100%;
  max-width: 815px;
  height: 100%;
  max-height: 615px;
  object-fit: contain;
  }
  .about-sec-txt h1{
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 30px;
  }
  .about-sec-txt h2{
      font-size: 24px;
      font-weight: 500;   
  }
  .about-sec-txt p{
      font-size: 14px
  }
  .about-sec-heading{
      text-align: center;
  }
  .testimonial-container h1{
    text-align:center;
}
.testimonials {
    padding: 100px 0;
}
  .testimonials h3 {
    margin-bottom: 20px;
  }
  .testimonials .card {
    border-bottom: 3px #007bff solid !important;
    transition: 0.5s;
    margin-top: 60px;
    width: 100%;
    min-height: 350px;
  }
  .testimonial-container .swiper .swiper-wrapper .swiper-slide .testimonials .card .card-img{
    width: 20px;
    height: 20px;
    line-height: 75px;
  }
   /* footer  */
   .site-footer
   {
     background-color:#26272b;
     padding:45px 0 20px;
     font-size:15px;
     line-height:24px;
     color:#737373;
   }
   .site-footer hr
   {
     border-top-color:#bbb;
     opacity:0.5
   }
   .site-footer hr.small
   {
     margin:20px 0
   }
   .site-footer h6
   {
     color:#fff;
     font-size:16px;
     text-transform:uppercase;
     margin-top:5px;
     letter-spacing:2px
   }
   .site-footer a
   {
     color:#737373;
   }
   .site-footer a:hover
   {
     color:#3366cc;
     text-decoration:none;
   }
   .footer-links
   {
     padding-left:0;
     list-style:none
   }
   .footer-links a
   {
     color:#737373
   }
   .footer-links a:active,.footer-links a:focus,.footer-links a:hover
   {
     color:#3366cc;
     text-decoration:none;
   }
   .footer-links.inline li
   {
     display:inline-block
   }
   .site-footer .social-icons
   {
     text-align:right
   }
   .site-footer .social-icons a
   {
     width:40px;
     height:40px;
     line-height:40px;
     margin-left:6px;
     margin-right:0;
     border-radius:100%;
     background-color:#33353d
   }
   .copyright-text
   {
     margin:0
   }
   .copyright-text a{
    font-family: "Black Ops One", serif;
    text-decoration: none;
    font-size: 19px;
   }
   
   .social-icons
   {
     padding-left:0;
     margin-bottom:0;
     list-style:none
   }
   .social-icons li
   {
     display:inline-block;
     margin-bottom:4px
   }
   .social-icons li.title
   {
     margin-right:15px;
     text-transform:uppercase;
     color:#96a2b2;
     font-weight:700;
     font-size:13px
   }
   .social-icons a{
     background-color:#eceeef;
     color:#818a91;
     font-size:16px;
     display:inline-block;
     line-height:44px;
     width:44px;
     height:44px;
     text-align:center;
     margin-right:8px;
     border-radius:100%;
     -webkit-transition:all .2s linear;
     -o-transition:all .2s linear;
     transition:all .2s linear
   }
   .social-icons a:active,.social-icons a:focus,.social-icons a:hover
   {
     color:#fff;
     background-color:#29aafe
   }
   .social-icons.size-sm a
   {
     line-height:34px;
     height:34px;
     width:34px;
     font-size:14px
   }
   .social-icons a.facebook:hover
   {
     background-color:#3b5998
   }
   .social-icons a.twitter:hover
   {
     background-color:#00aced
   }
   .social-icons a.linkedin:hover
   {
     background-color:#007bb6
   }
.social-icons a.dribbble:hover{
    background-color:#ea4c89
}

.lab-test-section{
  padding: 0 55px;
  margin-bottom: 147px;
  display: flex;
  justify-content: space-between;
}
.lab-test-content{
  margin-top: 297px;
}
.lab-test-content h1{
  color: black;
  text-align: left;
}
.img-bundle{
  text-align: center;
}
.img-res-area{
  display: flex;
  justify-content: space-between;
}
.contact-container{
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
}
.contact-card{
  text-align: center;
  background-color: rgb(247, 247, 247);
  width: 200px;
  height: 285px;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px gray;
}
.contact-card-content img{
  margin-bottom: 15px;
}
@media screen and (max-width: 1200px){
  .homeBanner-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .decs-content{
    margin-bottom: 0;
  }
  .lab-test-content{
    margin-top: 167px;
  }
  .lab-test-content h1{
      font-size: 35px;
      text-align: center;
  }
  .lab-test-section{
      display: block;
      padding: 0;
      text-align: center;
  }
  .lab-test-imgs{
      padding: 0 50px;
  }
  .img-bundle{
    width: 100%;
  }
  .img-bundle img{
    width: 100%;
    max-width: 200px;
    object-fit: contain;
  }
  .img-res-area{
    display: flex;
    gap: 15%;
  }
  .site-footer .row{
    text-align: center;

  }
  .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 26px;
  }
  #contact-section{
    display: flex;
    justify-content: center;
  }
  .contact-container{
    display: block;
  }
  .contact-card{
    margin-bottom: 55px;
  }
}

   /* ----------------------------about------------------------------------- */
.about-h-bg {
  padding: 120px 0;
  background-image: linear-gradient(100deg, #0090e4 0%, #1a18a1ad 100%);
  position: relative;
  overflow: hidden;
  color: #fff;
}
.about-info-card{
  width: 95%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(108, 117, 125, 0.126) ;
  border-radius: 10px;

}
.about-info-card h1{
  font-size: 45px;
}
 /*-------------------------------service---------------------------------- */
 .service-h-bg {
  padding: 120px 0;
  background-image: linear-gradient(100deg, #0090e4 0%, #1a18a1ad 100%);
  position: relative;
  overflow: hidden;
  color: #fff;
}
.blood-test-bg{
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: relative;
  background-image:url(/img/test-bg.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blood-test-bg .over-lay{
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: #000000b4;
}
.blood-test-bg .blood-txt{
  position: absolute;
color: #ffff;
z-index:22 !important;
width: 100%;
max-width: 700px !important;
margin: auto !important;
z-index: 22 !important;
left: 50%;
transform: translate(-50%, 50%);
}
.blood-service-card img{
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}
.service-form{
  width: 100%;
  height: 100%;
}
.service-form form{
  width: 100%;
   padding: 20px ;
  display: flex;
  flex-direction: column;
  padding-top:30px;
 
}
.service-form form input,.service-form form select,.service-form form option{
  padding: 12px 10px;
  width: 100%;
  margin-bottom: 20px;
  opacity: .8;
  border: none;
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.144);
  margin-bottom: 40px;
  border-radius: 10px;
}

.form-box img{
 width: 100%;
 height: 100%;
 object-fit: contain;
}

 /*--------------------------------contact--------------------------------- */
 .contact-h-bg {
  padding: 120px 0;
  background-image: linear-gradient(100deg, #0090e4 0%, #1a18a1ad 100%);
  position: relative;
  overflow: hidden;
  color: #fff;
}
.contact-bg-img{
  width: 100%;
  background-image: url('contact-bk-bg.jpg');
  background-repeat: no-repeat;
  
}
.contact-txt-contact h1{
   font-size: 55px;
   margin-bottom: 15px;
   font-weight: 800;
}
.contact-txt-contact h3{
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 15px;
}
.contact-txt-contact p{
  font-weight: 300;
  width: 100%;
  max-width: 450px;
  line-height: 30px;
}
.contact-form input {
background-color: #fff;
border: none;
border-radius: 10px;
padding: 10px 15px;
outline: none;
margin-bottom: 20px;
box-shadow: 0px 0px 5px 0px #00000036;
}
.contact-form .name-f{
  width: 47%;
}
.contact-form textarea{
  background-color: #fff;
border: none;
border-radius: 10px;
padding: 10px 15px;
outline: none;
margin-bottom: 20px;
box-shadow: 0px 0px 5px 0px #00000036;
}
@media (max-width:1201px) {
  .img-bundle img{
    max-width: 100px;
  }
  
}

/* landing page */
.most-checkup-container{
  display: flex;
  margin: 134px 0;
  justify-content: center;
  gap: 100px;
}
.hero-bg{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.checkup-card img{
  width: 100%;
  height: 100%;
  max-width: 200px;
  object-fit: contain;
}
.checkup-card-container{
  width: 100%;
  height: 100%;
}
.checkup-content p{
  width: 100%;
  font-size: 20px;
}
.checkup-card-holder{
  display: flex;
  gap: 23px;
  justify-content: center;
}.google-review-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.test-detail-img img{
 width: 100%;
 height: 100%;
 max-width: 300px;
 object-fit: contain;
}
.checkup-content-container{
  text-align: center;
  margin-top: 27px;
}
.checkup-content p{
  height: 100%;
}
.google-review-container{
  display: flex;
  justify-content: center;
  margin-bottom: 135px;
}
#cert-card{
  margin-top: 34px;
}
.outer-direct-contact-container{
  display: flex;
  justify-content: center;
}
.direct-contact-container{
  background: linear-gradient(218deg, rgba(7,0,131,0.7203256302521008) 0%, rgba(121,9,22,0.7203256302521008) 65%, rgba(255,0,0,0.7203256302521008) 100%);
  max-width: 1069px;
  width: 100%;
  border-radius: 50rem;
  padding: 0 35px;
  height: 196px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.direct-contact-content{
  padding-top: 60px;
}
.head-contact-content{
  color: white;
}
.head-contact-content h1{
  font-weight: 600;
  font-size: 35px;
}
.contact-content p{
  color:#ee818a;
  font-size: 20px;
}
.direct-contact-img{
  padding-top: 50px;
}
.test-details-container{
  display: flex;
  margin-top: 134px;
  margin-bottom: 57px;
  justify-content: center;
  gap: 10%;
}
.test-detail-content{
  width: 100%;
  max-width: 567px;
  padding-top: 120px;
}
.test-detail-content h1{
  font-size: 25px;
}
.direct-contact-img img{
  width: 100%;
  max-width: 100px;
}

/* other */
.v-space{
  height: 145px;
}